$$
EtlRatings
$$

Transformacion de los archivos

In [2]:
# importar librerias
import pandas as pd
from datetime import datetime as dt
import numpy as np

funcion que carga un dataFrame desde csv

In [5]:
def importar_csv(ruta, nombre):
    df = pd.read_csv(ruta + nombre)
    return df

llamar a la funcion para cada archivo de ratings

In [7]:
ruta = '../csvs/ratings/'
df_1 = importar_csv(ruta, '1.csv')
df_2 = importar_csv(ruta, '2.csv')
df_3 = importar_csv(ruta, '3.csv')
df_4 = importar_csv(ruta, '4.csv')
df_5 = importar_csv(ruta, '5.csv')
df_6 = importar_csv(ruta, '6.csv')
df_7 = importar_csv(ruta, '7.csv')
df_8 = importar_csv(ruta, '8.csv')

Renombrar la columna rating por score en cada tabla

In [8]:
df_1 = df_1.rename(columns={'rating':'score'})
df_2 = df_2.rename(columns={'rating':'score'})
df_3 = df_3.rename(columns={'rating':'score'})
df_4 = df_4.rename(columns={'rating':'score'})
df_5 = df_5.rename(columns={'rating':'score'})
df_6 = df_6.rename(columns={'rating':'score'})
df_7 = df_7.rename(columns={'rating':'score'})
df_8 = df_8.rename(columns={'rating':'score'})

In [9]:
# Verifico el tipo de dato del campo timestamp
print((df_1['timestamp'].dtypes))

int64

Cambio el tipo de dato a fecha de la columna timestamp

In [10]:
# Cambiar el formato del campo "timestamp" a StrfTime
df_1['timestamp'] = pd.to_datetime(df_1['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_2['timestamp'] = pd.to_datetime(df_2['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_3['timestamp'] = pd.to_datetime(df_3['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_4['timestamp'] = pd.to_datetime(df_4['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_5['timestamp'] = pd.to_datetime(df_5['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_6['timestamp'] = pd.to_datetime(df_6['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_7['timestamp'] = pd.to_datetime(df_7['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
df_8['timestamp'] = pd.to_datetime(df_8['timestamp'], unit='s').dt.strftime('%Y-%m-%d')

In [11]:
print(df_1['timestamp'].dtypes)

object

In [12]:
# Cambio de formato del campo timestamp a DateTime
df_1['timestamp'] = pd.to_datetime(df_1['timestamp'])
df_2['timestamp'] = pd.to_datetime(df_2['timestamp'])
df_3['timestamp'] = pd.to_datetime(df_3['timestamp'])
df_4['timestamp'] = pd.to_datetime(df_4['timestamp'])
df_5['timestamp'] = pd.to_datetime(df_5['timestamp'])
df_6['timestamp'] = pd.to_datetime(df_6['timestamp'])
df_7['timestamp'] = pd.to_datetime(df_7['timestamp'])
df_8['timestamp'] = pd.to_datetime(df_8['timestamp'])

In [13]:
df_1

         userId  score  timestamp movieId
0             1    1.0 2015-03-09   as680
1             1    4.5 2015-03-09  ns2186
2             1    5.0 2015-03-09  hs2381
3             1    5.0 2015-03-09  ns3663
4             1    5.0 2015-03-09  as9500
...         ...    ...        ...     ...
1499995   15424    4.0 2013-06-02  as8698
1499996   15424    3.5 2013-05-26  as3663
1499997   15424    3.0 2013-06-29  as1325
1499998   15424    3.5 2013-06-29  ns4446
1499999   15424    3.5 2013-05-26  hs2569

[1500000 rows x 4 columns]

$
ConcatenarData
$

In [20]:
df_ratings_completo = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8])

In [21]:
df_ratings_completo

         userId  score  timestamp movieId
0             1    1.0 2015-03-09   as680
1             1    4.5 2015-03-09  ns2186
2             1    5.0 2015-03-09  hs2381
3             1    5.0 2015-03-09  ns3663
4             1    5.0 2015-03-09  as9500
...         ...    ...        ...     ...
1499995  124380    4.5 2007-12-04  ns5272
1499996  124380    2.5 2007-12-04  ns5492
1499997  124380    3.5 2007-12-04   hs305
1499998  124380    4.5 2007-12-04  ns7881
1499999  124380    1.5 2007-12-04   as883

[11024289 rows x 4 columns]

In [23]:
# Exportar a csv
df_ratings_completo.to_csv(ruta+"ratings_final.csv", index=False)