# ETL-Peliculas

#### Importar librerias

In [38]:
# importar librerias necesarias
import pandas as pd
import numpy as np

#### Cargar datos desde csv a dataframe

In [39]:
# Cargar los datasets
df_netflix = pd.read_csv('../csvs/peliculas/netflix_titles.csv')
df_amazon = pd.read_csv('../csvs/peliculas/amazon_prime_titles.csv')
df_hulu = pd.read_csv('../csvs/peliculas/hulu_titles.csv')
df_disney = pd.read_csv('../csvs/peliculas/disney_plus_titles.csv')

#### Transformaciones y normalizacion

cambiar la columna id agregando la primera letra de la plataforma que corresponda

In [40]:
# Generar campo ID
df_netflix['id'] = 'n' + df_netflix['show_id'].astype(str)
df_amazon['id'] = 'a' + df_amazon['show_id'].astype(str)
df_hulu['id'] = 'h' + df_hulu['show_id'].astype(str)
df_disney['id'] = 'd' + df_disney['show_id'].astype(str)

cambiar df a minuscula

In [41]:
# Convertir los campos de texto a min√∫sculas
df_netflix = df_netflix.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df_amazon = df_amazon.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df_hulu = df_hulu.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df_disney = df_disney.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

In [42]:
# Reemplazar valores nulos del campo rating
df_netflix['rating'] = df_netflix['rating'].fillna('G')
df_amazon['rating'] = df_amazon['rating'].fillna('G')
df_hulu['rating'] = df_hulu['rating'].fillna('G')
df_disney['rating'] = df_disney['rating'].fillna('G')

reemplazar los NaN de los df por SinDato

In [43]:
df_hulu = df_hulu.fillna('SinDato')
df_amazon = df_amazon.fillna('SinDato')
df_disney = df_disney.fillna('SinDato')
df_netflix = df_netflix.fillna('SinDato')

la columna date_added es una marca de tiempo lo convierto a formato fecha

In [44]:
# Cambiar el formato de las fechas
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
df_netflix['date_added'] = df_netflix['date_added'].dt.strftime('%Y-%m-%d')

df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'], errors='coerce')
df_amazon['date_added'] = df_amazon['date_added'].dt.strftime('%Y-%m-%d')

df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'], errors='coerce')
df_hulu['date_added'] = df_hulu['date_added'].dt.strftime('%Y-%m-%d')

df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')
df_disney['date_added'] = df_disney['date_added'].dt.strftime('%Y-%m-%d')

C:\Users\diego\AppData\Local\Temp\ipykernel_4576\2177828510.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
C:\Users\diego\AppData\Local\Temp\ipykernel_4576\2177828510.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'], errors='coerce')
C:\Users\diego\AppData\Local\Temp\ipykernel_4576\2177828510.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'], errors='coerce')
C:\Users\diego\AppData\Local\Temp\ipykernel_4576\2177828510.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')

separo la columna duration en dos: duration_type: season(temporada) y duration_int: min(minutos)

In [45]:

# Convertir el campo 'duration' en dos campos: 'duration_int' y 'duration_type'
df_netflix[['duration_int', 'duration_type']] = df_netflix['duration'].str.extract('(\d+) (\w+)')
df_amazon[['duration_int', 'duration_type']] = df_amazon['duration'].str.extract('(\d+) (\w+)')
df_hulu[['duration_int', 'duration_type']] = df_hulu['duration'].str.extract('(\d+) (\w+)')
df_disney[['duration_int', 'duration_type']] = df_disney['duration'].str.extract('(\d+) (\w+)')

# Reemplazar los valores no finitos (NA o inf) en 'duration_int' con NaN
df_netflix['duration_int'] = df_netflix['duration_int'].replace(['NA', 'inf', '-inf'], np.nan)
df_amazon['duration_int'] = df_amazon['duration_int'].replace(['NA', 'inf', '-inf'], np.nan)
df_hulu['duration_int'] = df_hulu['duration_int'].replace(['NA', 'inf', '-inf'], np.nan)
df_disney['duration_int'] = df_disney['duration_int'].replace(['NA', 'inf', '-inf'], np.nan)

# Convertir el tipo de dato de 'duration_int' a entero (int)
df_netflix['duration_int'] = pd.to_numeric(df_netflix['duration_int'], errors='coerce').astype('Int64')
df_amazon['duration_int'] = pd.to_numeric(df_amazon['duration_int'], errors='coerce').astype('Int64')
df_hulu['duration_int'] = pd.to_numeric(df_hulu['duration_int'], errors='coerce').astype('Int64')
df_disney['duration_int'] = pd.to_numeric(df_disney['duration_int'], errors='coerce').astype('Int64')

funcion que recive df, columna y dato de origen y dato final a reeemplazar

In [46]:
def reemplazar_duration_type(df, columna, valor_origen, valor_reemplazo):
    df[columna] = df[columna].replace(valor_origen, valor_reemplazo)
    return df

llamo a la funcion y reemplazo la palabra seasons de los df

In [47]:
df_netflix = reemplazar_duration_type(df_netflix, 'duration_type', 'seasons', 'season')
df_hulu = reemplazar_duration_type(df_hulu, 'duration_type', 'seasons', 'season')
df_amazon = reemplazar_duration_type(df_amazon, 'duration_type', 'seasons', 'season')
df_disney = reemplazar_duration_type(df_disney, 'duration_type', 'seasons', 'season')

reordeno las columnas quitando las que no quiero en el df final

In [48]:
df_netflix = df_netflix[['id','type','title','director','cast','country','date_added','release_year','rating','duration_type', 'duration_int']]
df_amazon = df_amazon[['id','type','title','director','cast','country','date_added','release_year','rating','duration_type', 'duration_int']]
df_disney = df_disney[['id','type','title','director','cast','country','date_added','release_year','rating','duration_type', 'duration_int']]
df_hulu = df_hulu[['id','type','title','director','cast','country','date_added','release_year','rating','duration_type', 'duration_int']]

concateno los distintos df para tener solo uno final

In [49]:
# Concatenar los dataframes
df_concat = pd.concat([df_netflix, df_hulu, df_disney, df_amazon], axis=0, ignore_index=True)


### visualizo - df_final

In [50]:
df_concat.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int
0,ns1,movie,dick johnson is dead,kirsten johnson,SinDato,united states,2021-09-25,2020,pg-13,min,90
1,ns2,tv show,blood & water,SinDato,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,season,2
2,ns3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",SinDato,2021-09-24,2021,tv-ma,season,1
3,ns4,tv show,jailbirds new orleans,SinDato,SinDato,SinDato,2021-09-24,2021,tv-ma,season,1
4,ns5,tv show,kota factory,SinDato,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,season,2

In [51]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       22998 non-null  object
 4   cast           22998 non-null  object
 5   country        22998 non-null  object
 6   date_added     13444 non-null  object
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration_type  22516 non-null  object
 10  duration_int   22516 non-null  Int64
dtypes: Int64(1), int64(1), object(9)
memory usage: 2.0+ MB

In [52]:
df_concat.describe()

       release_year  duration_int
count  22998.000000       22516.0
mean    2010.811244      67.11725
std       15.401142      51.40163
min     1920.000000           0.0
25%     2010.000000           3.0
50%     2016.000000          85.0
75%     2019.000000         102.0
max     2021.000000         601.0

#### Importar DataFrame de ratings

In [53]:
ratings = pd.read_csv('../csvs/ratings/ratings_final.csv')
ratings.head()

   userId  score   timestamp movieId
0       1    1.0  2015-03-09   as680
1       1    4.5  2015-03-09  ns2186
2       1    5.0  2015-03-09  hs2381
3       1    5.0  2015-03-09  ns3663
4       1    5.0  2015-03-09  as9500

In [54]:
# Agrupamos por 'movieId' y calculamos el promedio de las calificaciones
ratings = ratings.groupby('movieId').agg({'score': 'mean'}).to_dict()['score']

In [55]:
# Unimos el dataframe de pel√≠culas con el de ratings promedio, usando el campo 'id' como clave
df_concat['score'] = df_concat['id'].map(ratings)

In [56]:
df_concat['score']

0        3.611111
1        3.552632
2        3.597938
3        3.561616
4        3.593023
           ...
22993    3.620915
22994    3.553215
22995    3.541750
22996    3.555102
22997    3.521739
Name: score, Length: 22998, dtype: float64

In [57]:
df_concat.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration_type,duration_int,score
0,ns1,movie,dick johnson is dead,kirsten johnson,SinDato,united states,2021-09-25,2020,pg-13,min,90,3.611111
1,ns2,tv show,blood & water,SinDato,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,season,2,3.552632
2,ns3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",SinDato,2021-09-24,2021,tv-ma,season,1,3.597938
3,ns4,tv show,jailbirds new orleans,SinDato,SinDato,SinDato,2021-09-24,2021,tv-ma,season,1,3.561616
4,ns5,tv show,kota factory,SinDato,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,season,2,3.593023

In [58]:
df_concat.describe()

       release_year  duration_int         score
count  22998.000000       22516.0  22998.000000
mean    2010.811244      67.11725      3.533443
std       15.401142      51.40163      0.048564
min     1920.000000           0.0      3.336478
25%     2010.000000           3.0      3.500000
50%     2016.000000          85.0      3.533673
75%     2019.000000         102.0      3.567000
max     2021.000000         601.0      3.724512

In [59]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       22998 non-null  object
 4   cast           22998 non-null  object
 5   country        22998 non-null  object
 6   date_added     13444 non-null  object
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration_type  22516 non-null  object
 10  duration_int   22516 non-null  Int64
 11  score          22998 non-null  float64
dtypes: Int64(1), float64(1), int64(1), object(9)
memory usage: 2.1+ MB

In [60]:
#reemplaza valores NaN por cero 
df_concat['duration_int'] = df_concat['duration_int'].fillna(0)

In [61]:
df_concat.to_csv('../csvs/peliculas/peliculas_final.csv', sep=',', index=False)