### Carga de DataSets, proceso de ETL, transformación de los datos y normalización

In [25]:
# Importacion de librerias necesarias
import pandas as pd
from datetime import datetime
import numpy as np

### Carga de DataSets

In [26]:
# Carga de csv en DataFrame de pandas 
df_amazon = pd.read_csv('datos/amazon_prime_titles.csv', sep=',')
df_disney = pd.read_csv('datos/disney_plus_titles.csv', sep=',')
df_hulu = pd.read_csv('datos/hulu_titles.csv', sep=',')
df_netflix = pd.read_csv('datos/netflix_titles.csv', sep=',')

### Inspección de DataFrame

In [27]:
# Observacion de las primeras filas del Dataframe
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [28]:
# Informacion del DataFrame
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [29]:
# Observacion de las primeras filas del Dataframe
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [30]:
# Informacion del DataFrame
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [31]:
# Observacion de las primeras filas del Dataframe
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [32]:
# Informacion del DataFrame
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [33]:
# Observacion de las primeras filas del Dataframe
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [34]:
# # Informacion del DataFrame
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### Normalizacion de Campo Id

In [35]:
# Creacion de nueva columna con el nombre de la plataforma de streaming
df_amazon['plataforma'] ='amazon'
df_disney['plataforma'] ='dysney'
df_hulu['plataforma'] ='hulu'
df_netflix['plataforma'] ='netflix'

### Crear columna id con la union de la primera letra de la pataforma y el id

In [36]:
df_amazon['show_id'] = df_amazon['show_id'].astype('str')
df_amazon['id'] = 'a' + df_amazon['show_id']
df_amazon = df_amazon[['id','plataforma','type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']]

In [37]:
df_disney['show_id'] = df_disney['show_id'].astype('str')
df_disney['id'] = 'd' + df_disney['show_id']
df_disney = df_disney[['id','plataforma','type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']]

In [38]:
df_hulu['show_id'] = df_hulu['show_id'].astype('str')
df_hulu['id'] = 'h' + df_hulu['show_id']
df_hulu = df_hulu[['id','plataforma','type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']]

In [39]:
df_netflix['show_id'] = df_netflix['show_id'].astype('str')
df_netflix['id'] = 'n' + df_netflix['show_id']
df_netflix = df_netflix[['id','plataforma','type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']]

### Normalización de campo Rating y reemplazo de Nulos

In [40]:
# Reemplazar los valores nulos por 'g'
df_amazon['rating'].fillna('g', inplace=True)
df_disney['rating'].fillna('g', inplace=True)
df_hulu['rating'].fillna('g', inplace=True)
df_netflix['rating'].fillna('g', inplace=True)

In [41]:
# Verificacion de ausencia de nulos en los df en el campo ratings
df_amazon['rating'].isnull().sum()
df_disney['rating'].isnull().sum()
df_hulu['rating'].isnull().sum()
df_netflix['rating'].isnull().sum()

0

### Normalización de campo fecha

In [42]:
# Eliminar espacio
df_amazon['date_added'] = df_amazon['date_added'].str.lstrip()
df_amazon['date_added'] = df_amazon['date_added'].str.rstrip()
# Convercion de campo 'date_added' a formato DateTime
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'], format='%B %d, %Y')

In [43]:
# Eliminar espacio
df_disney['date_added'] = df_disney['date_added'].str.lstrip()
df_disney['date_added'] = df_disney['date_added'].str.rstrip()
# Convercion de campo 'date_added' a formato DateTime
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], format='%B %d, %Y')

In [44]:
# Eliminar espacio
df_hulu['date_added'] = df_hulu['date_added'].str.lstrip()
df_hulu['date_added'] = df_hulu['date_added'].str.rstrip()
# Convercion de campo 'date_added' a formato DateTime
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'], format='%B %d, %Y')

In [45]:
# Eliminar espacio
df_netflix['date_added'] = df_netflix['date_added'].str.lstrip()
df_netflix['date_added'] = df_netflix['date_added'].str.rstrip()
# Convercion de campo 'date_added' a formato DateTime
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], format='%B %d, %Y')

### Normalización de mayúsculas/minúsculas y campos vacios

In [46]:
# Remplazo de espacio vacio por '-' y Mayúscula por minúsculas del campo type
df_amazon['type'] = df_amazon['type'].str.lower().str.replace(' ', '-')
df_disney['type'] = df_disney['type'].str.lower().str.replace(' ', '-')
df_hulu['type'] = df_hulu['type'].str.lower().str.replace(' ', '-')
df_netflix['type'] = df_netflix['type'].str.lower().str.replace(' ', '-')

In [47]:
# Mayúscula por minúsculas del campo title
df_amazon['title'] = df_amazon['title'].str.lower()
df_disney['title'] = df_disney['title'].str.lower()
df_hulu['title'] = df_hulu['title'].str.lower()
df_netflix['title'] = df_netflix['title'].str.lower()

In [48]:
# Mayúscula por minúsculas del campo "director"
df_amazon['director'] = df_amazon['director'].str.lower()
df_disney['director'] = df_disney['director'].str.lower()
df_hulu['director'] = df_hulu['director'].str.lower()
df_netflix['director'] = df_netflix['director'].str.lower()

In [49]:
# Mayúscula por minúsculas del campo "cast"
df_amazon['cast'] = df_amazon['cast'].str.lower()
df_disney['cast'] = df_disney['cast'].str.lower()
df_netflix['cast'] = df_netflix['cast'].str.lower()

In [50]:
# Mayúscula por minúsculas del campo "country"
df_amazon['country'] = df_amazon['country'].str.lower()
df_disney['country'] = df_disney['country'].str.lower()
df_hulu['country'] = df_disney['country'].str.lower()
df_netflix['country'] = df_netflix['country'].str.lower()

In [51]:
# Remplazo de espacio vacio por '-' y Mayúscula por minúsculas campo "rating"
df_amazon['rating'] = df_amazon['rating'].str.lower().str.replace(' ', '_')
df_disney['rating'] = df_disney['rating'].str.lower().str.replace(' ', '_')
df_hulu['rating'] = df_hulu['rating'].str.lower().str.replace(' ', '_')
df_netflix['rating'] = df_netflix['rating'].str.lower().str.replace(' ', '_')

In [52]:
# Mayúscula por minúsculas del campo "duration"
df_amazon['duration'] = df_amazon['duration'].str.lower()
df_disney['duration'] = df_disney['duration'].str.lower()
df_hulu['duration'] = df_hulu['duration'].str.lower()
df_netflix['duration'] = df_netflix['duration'].str.lower()

In [53]:
# Mayúscula por minúsculas del campo "listed_in"
df_amazon["listed_in"] = df_amazon["listed_in"].str.lower()
df_disney["listed_in"] = df_disney["listed_in"].str.lower()
df_hulu["listed_in"] = df_hulu["listed_in"].str.lower()
df_netflix["listed_in"] = df_netflix["listed_in"].str.lower()

In [54]:
# Mayúscula por minúsculas del campo "description"
df_amazon["description"] = df_amazon["description"].str.lower()
df_disney["description"] = df_disney["description"].str.lower()
df_hulu["description"] = df_hulu["description"].str.lower()
df_netflix["description"] = df_netflix["description"].str.lower()

In [55]:
# Quito espacios
df_amazon['duration'] = df_amazon['duration'].str.lstrip()
df_amazon['duration'] = df_amazon['duration'].str.rstrip()

df_disney['duration'] = df_disney['duration'].str.lstrip()
df_disney['duration'] = df_disney['duration'].str.rstrip()

df_hulu['duration'] = df_hulu['duration'].str.lstrip()
df_hulu['duration'] = df_hulu['duration'].str.rstrip()

df_netflix['duration'] = df_netflix['duration'].str.lstrip()
df_netflix['duration'] = df_netflix['duration'].str.rstrip()

### Divido la columna 'duration' en dos columnas: 'duration_int' y 'duration_type'

In [56]:
# Divido la columna 'duration' en dos columnas con operadores regulares
df_amazon[['duration_int', 'duration_type']] = df_amazon['duration'].str.extract('(\d+)\s*(\w+)')
df_disney[['duration_int', 'duration_type']] = df_disney['duration'].str.extract('(\d+)\s*(\w+)')
df_hulu[['duration_int', 'duration_type']] = df_hulu['duration'].str.extract('(\d+)\s*(\w+)')
df_netflix[['duration_int', 'duration_type']] = df_netflix['duration'].str.extract('(\d+)\s*(\w+)')

In [57]:
# Transformo el tipo de dato de la columna 'duration_int' a entero:
df_amazon['duration_int'] = df_amazon['duration_int'].astype("Int64")
df_disney['duration_int'] = df_disney['duration_int'].astype("Int64")
df_hulu['duration_int'] = df_hulu['duration_int'].astype("Int64")
df_netflix['duration_int'] = df_netflix['duration_int'].astype("Int64")

In [58]:
#Normalizo reemplazando 'Seasons' por 'season'
df_amazon['duration_type'] = df_amazon['duration_type'].str.replace('Seasons', 'season')
df_disney['duration_type'] = df_disney['duration_type'].str.replace('Seasons', 'season')
df_hulu['duration_type'] = df_hulu['duration_type'].str.replace('Seasons', 'season')
df_netflix['duration_type'] = df_netflix['duration_type'].str.replace('Seasons', 'season')

### Revision de los DataFrame

In [59]:
df_amazon.describe()

       release_year  duration_int
count   9668.000000        9668.0
mean    2008.341849     74.131775
std       18.922482     50.591673
min     1920.000000           0.0
25%     2007.000000          41.0
50%     2016.000000          86.0
75%     2019.000000         101.0
max     2021.000000         601.0

In [60]:
df_disney.describe()

       release_year  duration_int
count   1450.000000        1450.0
mean    2003.091724     52.753793
std       21.860162     46.557763
min     1928.000000           1.0
25%     1999.000000           4.0
50%     2011.000000          46.0
75%     2018.000000          93.0
max     2021.000000         183.0

In [61]:
df_hulu.describe()

       cast  release_year  duration_int
count   0.0   3073.000000        2594.0
mean    NaN   2012.567524     39.738242
std     NaN     10.844069     48.455462
min     NaN   1923.000000           1.0
25%     NaN   2010.000000           1.0
50%     NaN   2016.000000           4.0
75%     NaN   2019.000000          93.0
max     NaN   2021.000000         192.0

In [62]:
df_netflix.describe()

       release_year  duration_int
count   8807.000000        8804.0
mean    2014.180198     69.846888
std        8.819312     50.814828
min     1925.000000           1.0
25%     2013.000000           2.0
50%     2017.000000          88.0
75%     2019.000000         106.0
max     2021.000000         312.0

### Creación de un nuevo DataFrame conformnado por los DataFrame 'df_amazon', 'df_hulu', 'df_disney', 'df_netflix'

In [63]:
peliculas_concat = pd.concat([df_amazon, df_disney, df_hulu, df_netflix])

### Verifico los cambios

In [71]:
peliculas_concat.head()

,id,plataforma,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [65]:
peliculas_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   plataforma     22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11110 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  duration_int   22516 non-null  Int64
 14  duration_type  22516 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(12)
memory usage: 2.8+ MB

In [66]:
peliculas_concat.describe()

       release_year  duration_int
count  22998.000000       22516.0
mean    2010.811244      67.11725
std       15.401142      51.40163
min     1920.000000           0.0
25%     2010.000000           3.0
50%     2016.000000          85.0
75%     2019.000000         102.0
max     2021.000000         601.0

In [67]:
peliculas_concat['duration_int']

0       113
1       110
2        74
3        69
4        45
       ...
8802    158
8803      2
8804     88
8805     88
8806    111
Name: duration_int, Length: 22998, dtype: Int64

### Revision final de los cambios

In [68]:
# Tipo de dato de los campos
print(peliculas_concat.dtypes)

id                       object
plataforma               object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
listed_in                object
description              object
duration_int              Int64
duration_type            object
dtype: object

####  Importar Rating para calcular la media

In [74]:
media = pd.read_csv('ratings/ratings_completo.csv')

$$
CalcularColumnaPromedio
$$

In [77]:
media = media.groupby('movieId').agg(np.mean).score.to_dict()

C:\Users\diego\AppData\Local\Temp\ipykernel_6360\1563789129.py:2: FutureWarning: The operation <function mean at 0x000002D63A3D7060> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  review = review.groupby('movieId').agg(np.mean).score.to_dict()

In [78]:

peliculas_concat['score'] = peliculas_concat['id'].map(media)

In [87]:
peliculas_concat['score'] = peliculas_concat['score'].astype('int8')

$$
ExportarDatosPeliculas
$$

In [88]:
# Exportar a csv
peliculas_concat.to_csv("datos/peliculas_final.csv", index=False)